<form id="changepw">
  <input name="passwords[old]" type="password" placeholder="old password">
  <input name="passwords[new]" type="password" placeholder="new password">
  <button class="btn">CHANGE PASSWORD</button>
</form>