<div id="message"></div>
<h1>Blog Tittle</h1>
<form id="autologin">
  <button class="btn btn-success">email: h@cker pw: login</button>
</form>
<!-- ^^^ for dev purposes -->
{{ log posts}}

<button id="new-post" class="btn">NEW POST</button>

{{#each posts as |post|}}
<div data-id="{{post._id}}" class="post">
  <h2>{{limit post.title 25}}</h2>
</div>
{{/each}}
