<div id="message"></div>
<h1>Blog Tittle</h1>
<form id="autologin">
  <button class="btn btn-success">email: h@cker pw: login</button>
</form>
<!-- ^^^ for dev purposes -->
{{ log posts}}
<form id="signup">
  <input name="credentials[email]" type="email" placeholder="email">
  <input name="credentials[password]" type="password" placeholder="password">
  <input name="credentials[password_confirmation]" type="password" placeholder="password confirmation">
  <button class="btn">SIGN UP</button>
</form>
<form id="signin">
  <input name="credentials[email]" type="email" placeholder="email">
  <input name="credentials[password]" type="password" placeholder="password">
  <button class="btn">SIGN IN</button>
</form>
<form id="changepw">
  <input name="passwords[old]" type="password" placeholder="old password">
  <input name="passwords[new]" type="password" placeholder="new password">
  <button class="btn">CHANGE PASSWORD</button>
</form>
<button id="new-post" class="btn">NEW POST</button>

{{#each posts as |post|}}
<div data-id="{{post._id}}" class="post">
  <h2>{{limit post.title 25}}</h2>
</div>
{{/each}}
