<h1>welcome, to yOuR DEATH</h1>
<button id="back-button">GET OUT MF</button>
<form id="changepw">
  <input name="passwords[old]" type="password" placeholder="old password">
  <input name="passwords[new]" type="password" placeholder="new password">
  <button class="btn">CHANGE PASSWORD</button>
</form>
<form id="signout">
  <button class="btn">SIGN OUT</button>
</form>
