<h1>its'a me, a nav bar</h1>
<button id="back-button">GET OUT MF</button>
<button id="to-signup" class="btn">wanna sign up?</button>
<form id="signin">
  <input name="credentials[email]" type="email" placeholder="email">
  <input name="credentials[password]" type="password" placeholder="password">
  <button class="btn">SIGN IN</button>
</form>
