<h1>make your new post</h1>
<form id="new-post">
  <h3>Post Title</h3>
  <input name="post[title]" type="text" placeholder="Post Title">
  <h3>Post Body</h3>
  <textarea name="post[content]" placeholder="Post Body" id="new-post-body" rows="5" cols="33"></textarea>
</form>
<button class="btn">SUBMIT</button>
