<h1>Post View Component</h1>

<h1>Post Title</h1>
<p>Post Message: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  dolore magna aliqua. Sed odio morbi quis commodo. Eget felis eget nunc lobortis mattis aliquam. At imperdiet dui
  accumsan sit amet. Volutpat diam ut venenatis tellus in metus vulputate eu. Fusce id velit ut tortor pretium viverra
  suspendisse potenti nullam. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Enim ut tellus elementum
  sagittis vitae et. Sit amet risus nullam eget felis eget nunc lobortis. Id volutpat lacus laoreet non curabitur.

  Morbi quis commodo odio aenean sed. Diam maecenas ultricies mi eget mauris pharetra. Pellentesque elit ullamcorper
  dignissim cras. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique. Ornare arcu dui vivamus arcu
  felis bibendum. Ligula ullamcorper malesuada proin libero nunc. Odio facilisis mauris sit amet. Varius morbi enim nunc
  faucibus a pellentesque. Molestie ac feugiat sed lectus vestibulum. Viverra aliquet eget sit amet tellus. Curabitur
  gravida arcu ac tortor. Suscipit adipiscing bibendum est ultricies integer quis auctor. Aliquet porttitor lacus luctus
  accumsan. Bibendum enim facilisis gravida neque convallis a cras semper. Lorem sed risus ultricies tristique nulla
  aliquet enim tortor at. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Magna eget est lorem
  ipsum dolor sit amet.</p>

{{!-- TODO: refactor opportunity - make Comments and CommentsList its own components/handlebars  --}}
<h1>Comments</h1>
<h2>New Comment Form</h2>
<form id="new-comment">
  <textarea name="comment[content]" placeholder="Comment Body" id="new-comment-body" rows="5" cols="32"></textarea>
  <button class="btn">Create new comment</button>
</form>
<div class="comment">
  I am comment 1
</div>
<div class="comment">
  I am comment 2
</div>
<div class="comment">
  I am comment 3
</div>
<div class="comment">
  I am comment 4
</div>

<div class="comment">
  I am comment 5
</div>