<form id="signup">
  <input name="credentials[email]" type="email" placeholder="email">
  <input name="credentials[username]" type="text" placeholder="username">
  <input name="credentials[password]" type="password" placeholder="password">
  <input name="credentials[password_confirmation]" type="password" placeholder="password confirmation">
  <button class="btn">SIGN UP</button>
</form>
